@{
    ViewData["Title"] = "Home Page";
    List<Car> cars = new List<Car>
{
new Car
{
Mark = "Toyota",
Model = "Celica",
Price = 350_000
},
new Car
{
Mark = "Mazda",
Model = "3",
Price = 1_350_000
}
};
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Mark</th>
                    <th>Model</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in @cars)
                {
                    <tr>
                        <td>@car.Mark</td>
                        <td>@car.Model</td>
                        <td>@car.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

@* Встраиваем частичное представление в страницу *@
@Html.Partial("_GetMessage")

@* Второй вариант, может работать немного быстрее *@
@{await Html.RenderPartialAsync("_GetMessage");}

@* Перегружаемая версия *@
@Html.Partial("_GetCars", new List<string> { "Toyota Supra", "Nissan Skyline", "Honda Civic" })